<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Identity Card</title>
    <link rel="stylesheet" href="student-id.component.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- student-id.component.html -->
<section>
    <!-- Download button -->
    <div class="download-button">
        <button (click)="downloadPDF()">Download PDF</button>
    </div>

    <!-- Display the content only if userData is available -->
    <div #contentToConvert *ngIf="userData">
      
<div class="container">
    <div class="card">
      <div class="pic-container">
        <img class="pic" [src]="userData.profile_picture || 'https://i.ibb.co/sJKD14w/pro-pic.jpg'" alt="Profile Picture">
      </div>
      <div class="name">
        <span>{{userData.username}}</span>
      </div>
      <div class="title">
        <span>PROGRAMMER</span>
      </div>

      <div class="title">
        <span>Id No : {{userData.role_id}}04 {{userData.id}}</span>
      </div>

      <div class="title">
        <span>DOB : {{userData.dob}}</span>
      </div>

      <div class="title">
        <span>Mail : {{userData.email}}</span>
      </div>

      <div class="links">
        <div><img src="assets/logo1back.png" width="100" ></div>
      </div>
    </div>
  </div>
    </div>
</section>

</body>
            

</html>