<div class="attendance-marking">
  <h2>Mark Attendance</h2>

  <label for="date">Select Date:</label>
  <input type="date" id="date" [(ngModel)]="selectedDate" />

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Roll Number</th>
        <th>Student Name</th>
        <th>Attendance</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.user_id }}</td>
        <td>{{ student.username }}</td>
        <td>
          <button class="btn btn-success" (click)="markAttendance(student, 'Present')">Present</button><br>
          <button class="btn btn-danger" (click)="markAttendance(student, 'Absent')">Absent</button>

        </td>
        <td>
          {{ student.attendance || 'Not Marked' }}
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn-custom" (click)="submitAttendance()">Submit Attendance</button>
</div>
<div class="input-back">
  <button type="button" (click)="back()">Back</button>
</div>
