<!-- Header Section -->
<header>
  <div class="navbar">
      <div class="navbar-brand">
          <!-- Logo on the left side -->
          <img src="assets/logo1.jpg" alt="Logo" class="logo-img">
      </div>
      <div class="title">GAP INSTITUTE</div>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/Aboutus">About</a></li>
              <li><a href="/course">Courses</a></li>
              <li><a href="/login">Login/SignIn</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>
  </div>
</header>
