<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bottom Tab Bar Navigation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="admin-dashboard.component.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  </head>
  <body>
  <nav class="menu">
    
	<a class="nav-item" href=""><i class="fas fa-home"></i><span class="tab-title">Home</span></a>
    <input type="checkbox" name="" class="checkbox">
	<div class="checkbox-list">
		<a class="nav-item" href="/Aboutus"><i class="fas fa-user-graduate"></i><span class="tab-title">student profile</span></a>
		<a class="nav-item" href="#"><i class="fas fa-chalkboard-teacher"></i><span class="tab-title">Teacher Profile</span></a>
		<a class="nav-item" href="#"><i class="fas fa-users"></i><span class="tab-title">Staff Profile</span></a>
	</div>
	<a class="nav-item" href="/course"><i class="fas fa-book"></i><span class="tab-title">Courses</span></a>

	

	<a class="nav-item" href="/contact"><i class="fas fa-envelope"></i><span class="tab-title">contact us</span></a>
    <input type="checkbox" name="" class="checkbox">
	<div class="checkbox-list">
		<a class="nav-item" href="#"><i class="fas fa-user-check"></i><span class="tab-title">Student Attendance</span></a>
		<a class="nav-item" href="#"><i class="fas fa-calendar-check"></i><span class="tab-title">Teacher Attendance</span></a>
		<a class="nav-item" href="#"><i class="fas fa-clipboard-list"></i><span class="tab-title">Staff Attendance</span></a>
	</div>
	<a class="nav-item" href="#"><i class="fas fa-user-shield"></i><span class="tab-title">your profile</span></a>
</nav>
  </body>
</html>