<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="course-details.component.css">
    <title>Courses</title>
</head>

<body>
    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <img src="/assets/react.jpg" alt="mixed vegetable salad in a mason jar." />
                        <!-- <span class="card_price"><span>$</span>9</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">React Js</h2>
                        <div class="card_text">
                            <p>React.js is built around the concept of reusable components. Each component encapsulates
                                its own structure, styling, and behavior, which promotes modularity and reusability.
                                Components can be composed to create complex UIs from simpler, reusable building blocks.
                            </p>
                            <hr />
                            <p>React implements a Virtual DOM (a lightweight in-memory representation of the real DOM)
                                to optimize performance. When the state of a component changes, React updates the
                                Virtual DOM first and then compares it with the previous Virtual DOM. This process,
                                known as “reconciliation,” allows React to efficiently update only the parts of the
                                actual DOM that have changed, minimizing costly DOM manipulations.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <img src="/assets/java.jpg" alt="a Reuben sandwich on wax paper." />
                        <!-- <span class="card_price"><span>$</span>18</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Java</h2>
                        <div class="card_text">
                            <p>Java is designed to be platform-independent at both the source and binary levels. The
                                principle of "Write Once, Run Anywhere" (WORA) means that Java programs, once compiled
                                into bytecode, can run on any device equipped with a Java Virtual Machine (JVM),
                                regardless of the underlying operating system. This is achieved through Java's use of
                                the JVM to interpret bytecode.
                            </p>
                            <p>Java is fundamentally an object-oriented programming language, which means it organizes
                                software design around data, or objects, rather than functions. Java core concepts
                                include classes, objects, inheritance, polymorphism, encapsulation, and abstraction.
                                This approach promotes code reusability, modularity, and easier maintenance. </p>
                            <hr />
                            <p>Java comes with a comprehensive standard library, known as the Java Standard Edition (SE)
                                API, which provides a wide range of built-in classes and methods for tasks such as data
                                structures, networking, file I/O, and graphical user interface (GUI) development. This
                                extensive library reduces the need for third-party libraries and speeds up development
                                by offering well-tested and efficient tools.

                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <!-- <span class="note">Seasonal</span> -->
                        <img src="/assets/c++.jpg"
                            alt="A side view of a plate of figs and berries." />
                        <!-- <span class="card_price"><span>$</span>16</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">C++</h2>
                        <div class="card_text">
                            <p>C++ offers fine-grained control over system resources and memory management, allowing for
                                high-performance applications. This makes it ideal for system-level programming and
                                applications requiring optimized performance.
                            </p>
                            <hr />
                            <p>C++ supports both object-oriented programming (OOP) and generic programming. It features
                                classes, inheritance, and polymorphism, along with templates that enable type-safe
                                generic programming and code reuse.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <!-- <span class="note">Seasonal</span> -->
                        <img src="assets/python.jpg"
                            alt="A side view of a plate of figs and berries." />
                        <!-- <span class="card_price"><span>$</span>16</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Python</h2>
                        <div class="card_text">
                            <p> Python is known for its clear and readable syntax, which makes it an excellent choice
                                for beginners. Its simplicity allows developers to write and maintain code more
                                efficiently.
                            </p>
                            <hr />
                            <p>Python has a large and active community, providing extensive documentation, tutorials,
                                and third-party modules. This strong support network helps developers solve problems and
                                stay updated with best practices.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <!-- <span class="note">Seasonal</span> -->
                        <img src="assets/.net.jpg"
                            alt="A side view of a plate of figs and berries." />
                        <!-- <span class="card_price"><span>$</span>16</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">.Net</h2>
                        <div class="card_text">
                            <p> .NET supports multiple programming languages, including C#, F#, and VB.NET, allowing
                                developers to use their preferred language. It's suitable for building a wide range of
                                applications, from web to desktop and mobile.
                            </p>
                            <hr />
                            <p>.NET provides powerful frameworks like ASP.NET for web applications and Xamarin for
                                mobile apps. Integrated development tools, such as Visual Studio, enhance productivity
                                and streamline the development process.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <span class="note">Seasonal</span>
                        <img src="assets/angular.jpg"
                            alt="A side view of a plate of figs and berries." />
                        <!-- <span class="card_price"><span>$</span>16</span> -->
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Angular</h2>
                        <div class="card_text">
                            <p> Angular uses a modular approach with components, making it easier to manage and reuse
                                code across applications. This structure enhances maintainability and scalability of
                                large projects.
                            </p>
                            <hr />
                            <p> Angular's two-way data binding automatically synchronizes the data between the model and
                                the view. This simplifies the process of keeping the UI and data model in sync without
                                requiring additional code.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>