<div class="notifications">
  <h2>Notifications</h2>
  <ul>
    <li *ngFor="let notification of notifications" 
        [ngClass]="{'deleting': notification.deleting}"
        (swipeleft)="onSwipeRight(notification)">  <!-- Listen for right swipe -->
        
      <div [ngClass]="{
        'notice': true, 
        'error': notification.message?.slice(-1) == '3',
        'success': notification.message?.slice(-1) == '2',
        'warning': notification.message?.slice(-1) == '1',
        'info': notification.message?.slice(-1) == '0'
      }">
        <p>{{ notification.message }}</p>
      </div>
    </li>
  </ul>
</div>
