<div class="base">
  <div class="container">
    <div class="text">
      <span>Apply Leave</span>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="leaveData.username" name="fullName" type="text" >
          <div class="underline"></div>
          <label for="fullName">Full Name</label>
        </div>
        <div class="input-data">
          <input [(ngModel)]="leaveData.studentId" name="studentId" type="text" >
          <div class="underline"></div>
          <label for="studentId">Student ID</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="leaveData.email" name="email" type="email" >
          <div class="underline"></div>
          <label for="email">Email Address</label>
        </div>
        <div class="input-data">
          <select [(ngModel)]="leaveData.leaveType" name="leaveType" class="form-control" >
            <option value="" disabled>Select Leave Type</option>
            <option value="1">Sick Leave</option>
            <option value="2">Casual Leave</option>
            <option value="3">Annual Leave</option>
          </select>
          <div class="underline"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data textarea">
          <textarea [(ngModel)]="leaveData.reason" name="reason" rows="8" cols="80" ></textarea>
          <div class="underline"></div>
          <label for="reason">Write your reason</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="leaveData.startDate" name="startDate" type="date" >
          <div class="underline"></div>
          <label for="startDate">Start Date</label>
        </div>
        <div class="input-data">
          <input [(ngModel)]="leaveData.endDate" name="endDate" type="date" >
          <div class="underline"></div>
          <label for="endDate">End Date</label>
        </div>
      </div>

      <div class="form-row submit-btn">
        <div class="input-data">
          <input type="submit" value="Apply">
        </div>
        <div class="input-data">
          <button type="submit" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
