<!-- <app-dummy></app-dummy> -->
 <!-- <app-practice> </app-practice> -->
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
<router-outlet></router-outlet> 
 <app-global-notification></app-global-notification>
<!-- <app-students></app-students> -->
<!-- <app-attendance-marking></app-attendance-marking> -->
<!-- <app-attendance-summary></app-attendance-summary> -->
<!-- <app-login></app-login> -->

<!-- <app-api-demo></app-api-demo> -->
<!-- <app-teacher-dashboard></app-teacher-dashboard> -->
<!-- <app-landingpage></app-landingpage> -->
<!-- <app-aboutus></app-aboutus> -->
 <!-- <app-student-id></app-student-id> -->
  <!-- <app-applyleave></app-applyleave> -->
