 <!-- <app-students></app-students> -->
<!-- <app-viewattendance></app-viewattendance>  -->
<!-- <app-applyleave></app-applyleave> -->


<!-- <app-teacher-dashboard></app-teacher-dashboard>
<app-personal-info></app-personal-info>
<app-professional-info></app-professional-info>
<app-attendance-marking></app-attendance-marking>
<app-attendance-summary></app-attendance-summary> -->



<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-api-demo></app-api-demo> -->

<!-- <app-attendance-marking></app-attendance-marking> -->
<app-attendance-summary></app-attendance-summary>   
<!-- <app-teacher-dashboard></app-teacher-dashboard> -->
