<div class="user-boder">
  <div class="container">
    <h1>All Users</h1>
    <div *ngIf="users.length > 0; else noUsers" class="cards">
      <div *ngFor="let user of users" class="card" [ngClass]="getCardClass(user.role_id)">
        <h2 class="card-title">{{ user.first_name }} {{ user.last_name }}</h2>
        <img *ngIf="user.profile_picture" [src]="user.profile_picture" alt="Profile Picture">
        <p class="card-desc">
          <strong>ID:</strong> {{ user.id }}<br>
          <strong>First Name:</strong> {{ user.first_name }}<br>
          <strong>Last Name:</strong> {{ user.last_name }}<br>
          <strong>Full Name:</strong> {{ user.first_name}} {{user.last_name }}<br>
          <strong>Role ID:</strong> {{ user.role_id }}<br>
          <strong>Email:</strong> {{ user.email }}<br>
        </p>
      </div>
    </div>
</div>
  <ng-template #noUsers>
    <p>No users found.</p>
  </ng-template>
</div>
<div class="role-boder">
  <div class="container">
    <h2 class="user">Users by Role</h2>
    <div *ngFor="let teacher of teachers" class="cards">
      <h3 class="role-centre">Role ID: {{ teacher.roleId }}</h3>
      <div *ngFor="let user of teacher.users" class="card" [ngClass]="getCardClass(user.role_id)">
        <h2 class="card-title">{{ user.first_name }} {{ user.last_name }}</h2>
        <img *ngIf="user.profile_picture" [src]="user.profile_picture" alt="Profile Picture">
        <p class="card-desc">
          <strong>ID:</strong> {{ user.id }}<br>
          <strong>Username:</strong> {{ user.username }}<br>
          <strong>Email:</strong> {{ user.email }}<br>
          <strong>Created At:</strong> {{ user.created_at }}<br>
          <strong>Updated At:</strong> {{ user.updated_at }}<br>
        </p>
      </div>
    </div>
  </div>
</div>
